body {
    background-color: lightskyblue;
    font-family: "Poppins", sans-serif;
  }

  .container {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
}

  h3, h4, h5, h6 {
    margin-bottom: 0.3rem;
  }

  .container .col-md-4 {
    background-color: #003147;
  }

  .text-uppercase {
    font-size: 1rem;
    letter-spacing: 1px;
  }

  img {
    object-fit: cover;
  }

  .list-unstyled {
    padding-left: 0;
  }

  .text-primary {
    color: #1970a3 !important;
  }

  .text-warning {
    color: #ffc107 !important;
  }

  .border-bottom {
    border-bottom: 1px solid #ddd;
  }

  .mb-4 {
    margin-bottom: 1.5rem;
  }

  .card {
    background-color: #f8f9fa;
    border: 1px solid #ddd;
    border-radius: 5px;
    display: flex;
    align-items: center;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }

  .card i {
    font-size: 1.5rem;
    color: #1970a3;
  }
