 <!-- <app-navbar (scrollTo)="scrollToSection($event)"></app-navbar>  -->

<div class="container-fluid d-flex flex-column align-items-center justify-content-center text-center home-section">
  <div class="row">
    <div class="col-md-6">
      <h2>Hello, I’m</h2>
      <h1>{{ name }}</h1>
      <h3>{{ role }}</h3>
      <p>{{ description }}</p>
      <button (click)="toggleContact()" class="btn btn-primary btn-lg">
        {{ isContactVisible ? 'Back to Home' : "Let's Talk" }}
      </button>
    </div>
    <div class="col-md-6">
      <img [src]="imageUrl" alt="Profile Picture" class="img-fluid rounded-circle" />
    </div>
  </div>
  <div class="container">
    <section #aboutSection id="about">
      <app-about></app-about>
    </section>
  
    <section #skillsSection id="skills">
      <app-skills></app-skills>
    </section>

    <section #projectSection id="project">
      <app-project></app-project>
    </section>
  
    <section #contactSection id="contact">
      <app-contact></app-contact>
    </section>
</div>
