.home-section {
    background-color: #212529; 
    color: #ffffff; 
    padding: 120px 0; 
    min-height: 100vh; 
    display: flex; 
    align-items: center;
 
}

.text-content {
    text-align: left; 
}

h2 {
    font-size: 2rem; 
}

h1 {
    font-size: 3rem; 
    font-weight: bold; 
}

h3 {
    font-size: 1.8rem; 
    color: #20c997; 
}

p {
    font-size: 1.2rem; 
    line-height: 1.5; 
}

.btn-primary {
    background-color: #20c997; 
    border: none; 
    transition: background-color 0.3s; 
}

.btn-primary:hover {
    background-color: #17a2b8;
    color: #ffffff; 
}


img {
    border-radius: 50%; 
    max-width: 300px; 
}

.profile-img {
    max-width: 80%; 
    height: auto; 
}

@media (max-width: 768px) {
    .home-section {
        padding: 80px 0; 
    }

    .text-content {
        text-align: center; 
    }

    img {
        max-width: 150px; 
    }

    .social-icons a {
        font-size: 20px; 
    }
}
